<div class="jumbotron">
	<h1><i class="fa fa-tasks"></i> Managento</h1>
	<p> A smart todo list in Ruby on Rails framework.</p>
  <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg" %>
</div>

